- if current_user.admin? && current_user.refresh_token.present?
  = link_to 'Import vacations from Google Calendar', import_user_vacation_path(current_user, all_vacations),
    class: "button btn btn-default"

- if all_vacations.present?
  = render 'row'
- else
  %h2 No vacations

= link_to 'New Vacation', new_user_vacation_path(current_user), class: "btn btn-primary"
